* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --principal-bg: #F5F7FA;
    --main-blue: #62A9E0;
    --title-color: #4a4a4a;
    --text-color: #555;
    --button-bg: #3B87C4;
    --soft-blue-bg: #E8F4FD;
    --soft-blue-bg2: #D8ECF9;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--principal-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 22px;
}

a,
p,
li {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.brand {
    font-family: "Merriweather", serif;
    font-weight: 900;
    color: var(--main-blue);
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    height: 12vh;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 100px;
    background-image: url('./assets/logo/word-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    column-gap: 48px;
}



.nav-items {
    transition: transform .2s ease-in;
}

.nav-items:hover {
    transform: scale(1.1);
}

.nav-links {
    transition: color .2s ease-in;
}

.nav-links:hover {
    color: var(--main-blue);
}

#login {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--button-bg);
    color: var(--principal-bg);
    transition: background-color .2s ease-in, color .2s ease-in;
}

#login:hover {
    background-color: var(--main-blue);
    color: var(--text-color);
}

/* Slogan */

.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
    background-color: var(--soft-blue-bg);

}

.slogan .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.slogan-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
}

.slogan-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('./assets/logo/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slogan-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 50%;
    height: 80%;
}

.slogan-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 48px;
}

.slogan-text div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 20px;
}

.slogan-action a {
    text-align: center;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--button-bg);
    color: var(--principal-bg);
    transition: background-color .2s ease-in, color .2s ease-in;
}

.slogan-action a:hover {
    background-color: var(--main-blue);
    color: var(--text-color);
}

/* Benefits */

.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.benefits .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.all-benefits {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefit-cards {
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content-benefit-card {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.content-benefit-card{
    text-align: center;
}

/* Footer */

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
}

.social-media div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.icons-img {
    height: 50px;
    fill: var(--main-blue);
    transition: transform .2s ease-in;
}

.icons-img:hover {
    transform: rotate(3deg) scale(1.1);
}