* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --principal-bg: #F5F7FA;
    --main-blue: #62A9E0;
    --text-color: #4a4a4a;
    --button-bg: #3B87C4;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--principal-bg);
}

a, p, li {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    height: 12vh;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-image: url('./assets/logo/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    column-gap: 48px;
}



.nav-items {
 transition: transform .2s ease-in;
}

.nav-items:hover {
    transform: scale(1.1);
}

.nav-links {
 transition: color .2s ease-in;
}

.nav-links:hover {
    color: var(--main-blue);
}

#login {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--button-bg);
    color: var(--principal-bg);
    transition: background-color .2s ease-in, color .2s ease-in;
}

#login:hover {
    background-color: var(--main-blue);
    color: var(--text-color);
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
}

.social-media div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.icons-img {
    height: 50px;
    fill: var(--main-blue);
}